@model RentingSystemMVC.Models.Support

<div class="container pt-3 d-flex justify-content-center align-items-center">
    <div class="bg-white border rounded w-75 d-flex flex-column justify-content-between" style="height: 87vh;">
        <div>
            <div class="px-3 py-2">
                <h4 class="fw-bold"> @Model.subject </h4>
                <small class="text-black text-opacity-25"> @Model._id | Last Updated: @Model.updatedDate </small>
            </div>
            <hr class="mt-0"/>
        </div>
        <div class="px-3 py-2 overflow-scroll flex-grow-1">
            <div class="my-2">
                <p class="fw-bold"> @Model.user.name </p>
                <p class="text-black text-opacity-75"> @Model.description </p>
            </div>
            @foreach (var comment in Model.comments)
            {
                <div class="my-2">
                    <p class="fw-bold"> @comment.user.name </p>
                    <p class="text-black text-opacity-75"> @comment.comment_text </p>
                    <small>@comment.comment_date</small>
                </div>
            }
            @if (Model.status == "Resolved")
            {
                <div class="my-2">
                    <hr/>
                    <p class="fw-bold text-center"> Issue has been marked as resolved </p>
                </div>
            }
        </div>
        <div class="">
            <hr class="w-100"/>
            <form asp-controller="Support" asp-action="Comment" class="d-flex flex-column align-items-end mx-3 border border-1 rounded-2 my-2">
                <textarea class="form-control border-0 w-100" name="comment" id="comment" style="resize: none;" rows="5" placeholder="Reply" @(Model.status == "Resolved" ? "disabled" : "")></textarea>
                <hr class="w-100 m-0"/>
                <div>
                    @if (Model.status != "Resolved")
                    {
                        @if (Context.User.IsInRole("Admin"))
                        {
                            <a asp-controller="Support" asp-action="Resolve" class="btn btn-outline fw-bold">
                                Mark as Resolved
                            </a>
                        }
                    }
                    <button type="submit" class="btn btn-secondary m-2" @(Model.status == "Resolved" ? "disabled" : "")>
                        <i class="bi bi-send"></i>
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>