@model List<SimpleVehicleViewModel>
@functions {
    public string GetImagePath(string model)
    {
    return $"/images/{model}.png";
}
}
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="images/indexcar.jpg" alt="indexcar" class="small-image"/>
    <div class="overlay">
        <h1 class="display-4"> Drive a <br>car of ours.</h1>
    </div>
</div>

<div class="container mt-3 ">
    <div class="rent-text-0">
        <span class="display-4 rent-text-1">Rent. </span><span class="display-4 rent-text-2">The world is yours.</span>
    </div>
    
    <div id="carouselExampleControls" class="carousel mt-3">
        <div class="carousel-inner">
            @for (int i = 0; i < Model.Count; i++)
            {
                var vehicle = Model[i];
                <div class="carousel-item @(i==0 ? "active": "")">
                    <div class="card card-carousel">
                        <div class="card-body card-body-background">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5 class="card-title">@vehicle.Brand @vehicle.Model</h5>
                                    <p class="card-text">@(vehicle.Type + ", " + vehicle.Seats + " seats, " + vehicle.FuelType)</p>
                                </div>
                                <div class="col-md-4 text-md-end">
                                    <a asp-area="" asp-controller="Vehicles" asp-action="Index" class="btn btn-outline-dark d-block mt-3 mt-md-0">Rent</a>
                                </div>
                            </div>
                        </div>
                        <div class="img-wrapper">
                            <img src="@GetImagePath(vehicle.Model)" class="d-block w-100" alt="@vehicle.Brand @vehicle.Model">
                        </div>
                    </div>
                </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<script src="js/site.js"></script>