@model RentingSystemMVC.Models.VehicleDetailModel

<div class="container gy-2">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center">
            <h1> Details for @Model.Vehicle.Brand @Model.Vehicle.Model</h1>
            @* TODO: Open up a modal to edit the vehicle details (CJ) *@
            <div>
                <a class="btn btn-primary"> Edit </a>
            </div>
        </div>
        <h4> License Number: @Model.Vehicle.LicensePlate </h4>
        @if (Model.Vehicle.LicenseToOperate == "3A")
        {
            <p> License To Operate: 3/3A </p>
        }
        else
        {
            <p> License To Operate: @Model.Vehicle.LicenseToOperate </p>
        }
        <p> Number of Seats: @Model.Vehicle.Seats </p>
        <p> Type: @Model.Vehicle.Type </p>
        <p> Fuel: @(Model.Vehicle.FuelCapacity)L @Model.Vehicle.FuelType </p>
        <p> Trunk Space: @Model.Vehicle.TruckSpace </p>
        <p> Rental Cost: @(Model.Vehicle.RentalCostPerDay)/day </p>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between">
            <h3> Maintenance Details </h3>
            @* TODO: This button will open up a modal with the vehicle id to create a new maintenance record for this vehicle *@
            <a class="btn btn-primary"> New Maintenance </a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th> Status </th>
                <th> Start Date </th>
                <th> End Date</th>
            </tr>
            </thead>
            <tbody>
            @if (Model.Maintenances.Count == 0)
            {
                <tr>
                    <td colspan="3"> No maintenance records found </td>
                </tr>
            }
            else
            {
                @foreach (var maintenance in Model.Maintenances)
                {
                    <tr>
                        <td> @maintenance.WorkshopStatus </td>
                        <td> @maintenance.FinishMaintDate </td>
                        <td> @maintenance.LastMaintDate </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <!-- Add Maintenance Record -->
    <div class="modal fade" id="maintenanceModal" tabindex="-1" role="dialog" aria-labelledby="maintenanceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="maintenanceModalLabel">New Maintenance Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="maintenanceForm">
                        <input type="hidden" id="vehicleID" name="vehicleID"/>
                        <div class="form-group">
                            <label for="startMaintenanceDate">Start Date</label>
                            <input type="date" class="form-control" id="startMaintenanceDate" name="startMaintenanceDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" required/>
                        </div>
                        <div class="form-group mt-1">
                            <label for="endMaintenanceDate">End Date</label>
                            <input type="date" class="form-control" id="endMaintenanceDate" name="endMaintenanceDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" required/>
                        </div>
                        <div class="form-group mt-1">
                            <label for="workshopStatus">Description</label>
                            <input type="text" class="form-control" id="workshopStatus" name="workshopStatus" required/>
                        </div>

                        <button type="submit" class="btn btn-primary mt-2">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts
    {
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>
            
            let startMaintenanceDate;
            let endMaintenanceDate;
            let workshopStatus;

            document.addEventListener('DOMContentLoaded', (event) => {
                startMaintenanceDate = document.getElementById('startMaintenanceDate');
                endMaintenanceDate = document.getElementById('endMaintenanceDate');
                workshopStatus = document.getElementById('workshopStatus');
            });

            function openMaintenanceModal(vehicleID) {
                $('#vehicleID').val(vehicleID);
                $('#maintenanceModal').modal('show');
            }

            $(document).ready(function () {
                $('#maintenanceForm').on('submit', function (event) {
                    event.preventDefault();
                    var formData = $(this).serialize();

                    if (startMaintenanceDate.value && endMaintenanceDate.value && workshopStatus.value) {
                        $.ajax({
                            url: '@Url.Action("AddMaintenance", "Vehicles")',
                            type: 'POST',
                            data: formData,
                            success: function () {
                                alert('New maintenance record added!');
                                $('#rentModal').modal('hide');

                                window.location.href = '@Url.Action("Details", "Vehicles")';
                            },
                            error: function() {
                                alert('Error occurred while adding maintenance record.');
                            }
                        });
                    } else {
                        alert('All fields must be filled before submitting');
                    }

                    
                });
                
            });
        </script>
    }
</div>
