@model List<RentingSystemMVC.Models.AuthorisedVehicleView>

@functions {

    public string GetImagePath(string model)
    {
        return $"/images/{model}.png";
    }

}

<div class="text-center vehicle-intro pt-5 pb-5">
    <h1 class="vehicle-intro-text">The world is yours.</h1>
</div>
<div class="container mt-5">
    <h3>Available Vehicles</h3>

    <form method="get" asp-action="Index" class="container d-flex justify-content-between" style="margin: 0; padding: 0;">
        <div class="col-sm-3" style="margin-left: 0; padding-left: 0;">
            <label for="filterColumn">Filter By:</label>
            <select id="filterColumn" name="filterColumn" class="form-select">
                <option value="brand">Brand</option>
                <option value="model">Model</option>
                <option value="type">Type</option>
                <option value="fuelType">Fuel Type</option>
                <option value="fuelCapacity">Fuel Capacity</option>
                <option value="seats">Seats</option>
                <option value="trunkSpace">Trunk Space</option>
                <option value="rentalCostPerDay">Rental Cost Per Day</option>
            </select>
        </div>

        <div class="col-sm-3">
            <label for="filterValue">Value:</label>
            <input type="text" id="filterValue" name="filterValue" class="form-control"/>
        </div>

        <div class="col-sm-3">
            <label for="selectedDate">Date:</label>
            <input type="date" id="selectedDate" name="selectedDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary col-sm-1 filter-button">Filter</button>


    </form>
    
    @foreach (var vehiclecard in Model)
    {
        <div class="card card-rent mt-4">
        <div class="d-flex">
            <img src="@GetImagePath(vehiclecard.Model)" class="col-sm-2" alt="car">
            <div class="col-sm-2 d-flex flex-column justify-content-evenly" style="padding-left: 10px">
                <div class="brand-name">
                    <span class="card-label">Name: </span>
                    <p>@vehiclecard.Brand @vehiclecard.Model</p>
                </div>
                <div class="license-plate">
                    <span class="card-label">License Number:</span>
                    <p>@vehiclecard.LicensePlate</p>
                </div>
            </div>
            <div class="col-sm-2 d-flex flex-column justify-content-evenly ">
                <div class="license-to-operate">
                    <span class="card-label">License to Operate: </span>
                    <p>@vehiclecard.LicenseToOperate</p>
                </div>
                <div class="car-type">
                    <span class="card-label">Type:</span>
                    <p>@vehiclecard.Type</p>
                </div>
            </div>
            <div class="col-sm-2 d-flex flex-column justify-content-evenly ">
                <div class="fuel-capacity">
                    <span class="card-label">Fuel Capacity: </span>
                    <p>@vehiclecard.FuelCapacity</p>
                </div>
                <div class="fuel-type">
                    <span class="card-label">Fuel Type:</span>
                    <p>@vehiclecard.FuelType</p>
                </div>
            </div>
            <div class="col-sm-2 d-flex flex-column justify-content-evenly ">
                <div class="trunk-space">
                    <span class="card-label">Trunk Space:</span>
                    <p>@vehiclecard.TrunkSpace</p>
                </div>
                <div class="seat-no">
                    <span class="card-label">Seats:</span>
                    <p>@vehiclecard.Seats</p>
                </div>
            </div>
            <div class="col-sm-1 d-flex flex-column justify-content-center">
                <div style ="text-align:center;"class="cost">
                <span class="card-label"> Daily Cost:</span>
                    <p>
                        <span>@vehiclecard.RentalCostPerDay</span>
                    </p>
                </div>
            </div>
            <a style="display:grid;place-items:center;"asp-controller="Vehicles" asp-action="Details" asp-route-id="@vehiclecard.VehicleID" class="btn btn-dark col-sm-1">
            <div>View</div>
            </a>
            </div>
        </div>
    }


    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <script>
 
        </script>
    }

</div>