@model List<RentingSystemMVC.Models.Vehicle>

<h1>Available Vehicles</h1>

<form method="get" asp-action="Index" class="container row" style="margin: 0; padding: 0;">
    <div class="col-sm-4" style="margin-left: 0; padding-left: 0;">
        <label for="filterColumn">Filter By:</label>
        <select id="filterColumn" name="filterColumn" class="form-select">
            <option value="Brand">Brand</option>
            <option value="Model">Model</option>
            <option value="Type">Type</option>
            <option value="FuelType">Fuel Type</option>
            <option value="FuelCapacity">Fuel Capacity</option>
            <option value="Seats">Seats</option>
            <option value="TrunkSpace">Trunk Space</option>
            <option value="RentalCostPerDay">Rental Cost Per Day</option>
        </select>
    </div>

    <div class="col-sm-4">
        <label for="filterValue">Value:</label>
        <input type="text" id="filterValue" name="filterValue" class="form-control"/>
    </div>

    <button type="submit" class="btn btn-secondary col-sm-1">Filter</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Vehicle ID</th>
            <th>License Plate</th>
            <th>License To Operate</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Type</th>
            <th>Seats</th>
            <th>Fuel Capacity</th>
            <th>Fuel Type</th>
            <th>Truck Space</th>
            <th>Rental Cost Per Day</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.VehicleID</td>
                <td>@vehicle.LicensePlate</td>
                <td>@vehicle.LicenseToOperate</td>
                <td>@vehicle.Brand</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.Type</td>
                <td>@vehicle.Seats</td>
                <td>@vehicle.FuelCapacity</td>
                <td>@vehicle.FuelType</td>
                <td>@vehicle.TruckSpace</td>
                <td>@vehicle.RentalCostPerDay</td>
                <td><button type="button" class="btn btn-primary">Rent</button></td>
            </tr>
        }
    </tbody>
</table>

